/*
 * @file
 * CSS for search_api_sirsi module.
 */

#block-searchapisirsisearchblock .form-search{
  max-width:450px;
  width:400px;
}
#block-searchapisirsisearchblock .search_api_sirsi_search_block {
  padding:5px;
}

#edit-actions {
  padding:5px;
}

#edit-keys {
  padding:5px;
}

#search-api-sirsi-src-button-submit {
  float: left;
}

#search-api-sirsi-page-searchform {
  display:flex;
}

#search-api-sirsi-page-searchform .form-item {
  padding:5px;
}

.c-feature {
  margin: 3px 5px;
  word-break: break-word;
}

.c-title {
  font-weight: bold;
  display: inline-block;
}

#sirsi-item-container {
  margin: 3px 5px;
  display: inline-block;
  word-break: break-word;
}
