{#
/**
 * @file
 * Default theme implementation for search block.
 *
 * Available variables:
 *   - search_block_form
 *
 *
 * @ingroup themeable
 */
#}
<div class="search_api_sirsi_search_block">
  {{ search_block_form }}
</div>
